@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.App {
  max-height: 100vh;
}

body {
  background-image: linear-gradient(hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  background-attachment: fixed;
  font-family: "Barlow Semi Condensed";
  text-transform: uppercase;
  color: white;
}

header {
  border: 3px solid hsl(217deg, 16%, 45%);
  border-radius: 5px;
  margin: 2rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  line-height: 0.8em;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

.score-card {
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1.45rem 0.5rem;
}

.score-word {
  letter-spacing: 1.5px;
  color: hsl(229deg, 64%, 46%);
  font-size: 0.65rem;
}

.score-number {
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(229deg, 25%, 31%);
  line-height: 0.95em;
}

.choice-grid-container {
  margin: 7rem auto 0;
  display: grid;
  max-width: 400px;
  grid-template: 120px 120px/1fr 1fr;
  gap: 2rem 0;
  align-items: center;
  justify-content: center;
  background-image: url(./images/bg-triangle.svg);
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.choice-grid-item {
  margin: 0 auto;
}

.choice-grid-item:nth-of-type(1) {
  grid-row: 1;
}

.choice-grid-item:nth-of-type(3) {
  grid-row: 2;
  grid-column: span 2;
}

.choice-border {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 0;
}
@media (hover: hover) {
  .choice-border:hover {
    transform: scale(1.05);
  }
}

.choice-border.paper {
  background-image: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  border-bottom: 6px solid hsl(232deg, 63%, 45%);
}

.choice-border.scissors {
  background-image: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  border-bottom: 6px solid hsl(36deg, 99%, 36%);
}

.choice-border.rock {
  background-image: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  border-bottom: 6px solid hsl(349deg, 73%, 35%);
}

.choice-white-circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid lightgrey;
  border-bottom: 5px solid white;
}

.rules-btn-container {
  margin: 8.75rem auto 4rem;
  display: flex;
}

.rules-btn {
  padding: 0.55rem 2rem;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #ddd;
  display: inline-block;
  letter-spacing: 3px;
  border-radius: 7px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed";
  cursor: pointer;
  margin: 0 auto 3.5rem;
  font-size: 1rem;
  font-weight: 700;
}

/* HOUSE LOADING */
.choice-grid-item.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice-grid-item.loading .choice-border {
  transform: none;
}

.choice-grid-item.loading p,
.choice-grid-item.show-result p {
  margin-top: 1rem;
}

.choice-grid-item.show-result p {
  margin-left: 0.25rem;
}

.choice-grid-item:nth-of-type(2).loading .choice-white-circle {
  background-color: hsla(237deg, 49%, 15%, 0.6);
  border: 0;
}

.choice-grid-item:nth-of-type(2).loading .choice-border {
  background-image: none;
  border: 0;
  background-color: transparent;
}

/* hide icon */
.choice-grid-item:nth-of-type(2).loading .choice-white-circle > * {
  display: none;
}

.choice-grid-item:nth-of-type(3).loading,
.choice-grid-item:nth-of-type(3).loading + * {
  display: none;
}

.choice-grid-container.loading {
  background-image: none;
  pointer-events: none;
  display: flex;
}

.choice-grid-container.show-result {
  background-image: unset;
  pointer-events: none;
}

.choice-grid-container.loading + .rules-btn-container {
  margin-top: calc(130px + 7.25rem);
}/*# sourceMappingURL=App.css.map */