@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

$scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));

$Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

// Neutral
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// Background
$radial-gradient: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

.App {
	max-height: 100vh;
}

body {
	background-image: $radial-gradient;
	background-attachment: fixed;
	font-family: "Barlow Semi Condensed";
	text-transform: uppercase;
}

header {
	border: 3px solid $header-outline;
	border-radius: 5px;
	margin: 2rem;
	padding: 0.75rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: column;
	line-height: 0.8em;
	font-size: 1.3rem;
	color: white;
	font-weight: 600;
}

.score-card {
	background-color: #fff;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 1.45rem 0.5rem;
}

.score-word {
	letter-spacing: 1.5px;
	color: $score-text;
	font-size: 0.65rem;
}

.score-number {
	font-weight: 700;
	font-size: 2.5rem;
	color: $dark-text;
	line-height: 0.95em;
}

.choice-grid-container {
	margin: 7rem auto 0;
	display: grid;
	max-width: 400px;
	grid-template: 120px 120px / 1fr 1fr;
	gap: 2rem 0;
	align-items: center;
	justify-content: center;
	background-image: url(./images/bg-triangle.svg);
	background-position: center center;
	background-size: 60%;
	background-repeat: no-repeat;
}

.choice-grid-item {
	margin: 0 auto;
}
.choice-grid-item:nth-of-type(1) {
	grid-row: 1;
}
.choice-grid-item:nth-of-type(3) {
	grid-row: 2;
	grid-column: span 2;
}
.result-grid-item {
	margin: 0 auto;
}
.result-grid-item:nth-of-type(1) {
	grid-row: 1;
}
.result-grid-item:nth-of-type(3) {
	grid-row: 2;
	grid-column: span 2;
	visibility: hidden;
}

.choice-border {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	@media (hover: hover) {
		&:hover {
			transform: scale(1.05);
		}
	}
}

.choice-border.paper {
	background-image: $paper-gradient;
	border-bottom: 6px solid hsl(232, 63%, 45%);
}

.choice-border.scissors {
	background-image: $scissors-gradient;
	border-bottom: 6px solid hsl(36, 99%, 36%);
}

.choice-border.rock {
	background-image: $rock-gradient;
	border-bottom: 6px solid hsl(349, 73%, 35%);
}

.choice-white-circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 5px solid lightgrey;
	border-bottom: 5px solid white;
}

.rules-btn-container {
	margin: 8.75rem auto 4rem;
	display: flex;
}

.rules-btn {
	padding: 0.55rem 2rem;
	border: 2px solid rgba(white, 0.4);
	color: #ddd;
	display: inline-block;
	letter-spacing: 3px;
	border-radius: 7px;
	background-color: transparent;
	text-transform: uppercase;
	font-family: "Barlow Semi Condensed";
	cursor: pointer;
	margin: 0 auto 3.5rem;
	font-size: 1rem;
	font-weight: 700;
}

.result-grid-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.5rem;
}

.result-grid-item p {
	color: white;
	margin-top: 1.5rem;
	font-size: 0.9rem;
	letter-spacing: 0.18em;
}

.choice-grid-container.result {
	background-image: unset;
	pointer-events: none;
}
.choice-grid-container.result {
}

/* HOUSE LOADING */
.choice-grid-item:nth-of-type(2).loading .choice-white-circle {
	background-color: hsla(237, 49%, 15%, 0.6);
	border: 0;
}

.choice-grid-item:nth-of-type(2).loading .choice-border {
	background-image: none;
}

/* hide icon */
.choice-grid-item:nth-of-type(2).loading .choice-white-circle > * {
	display: none;
}

.choice-grid-container.loading {
	background-image: none;
}
